<%= form_for([@course, @course.reviews.new]) do |f| %>
	<h4>Leave a review:</h4>
	<div id="user_stars"></div>

	<div class="form-group">
		<%= f.text_area :comment, rows: 3, class: "form-control" %>
	</div>



	<%= f.hidden_field :course_id, value: @course.id %>

	<div class="actions">
		<%= f.submit "Submit", class: "btn btn-primary" %>
	</div>
	<br>
<% end %>

<script>

	$('#user_stars').raty({
		path: '/assets',
		scoreName: 'review[star]',
		score: 1
	});
	
</script>